Data Types and Structures Assignment - Practical

In [ ]:
# 1) Write a code to create a string with your name and print it
s="Madhuri Sirigibattula"
print(f"Name given is: {s}")

Name given is: Madhuri Sirigibattula

In [ ]:
# 2) Write a code to find the length of the string "Hello World"
s="Hello World"
print(f"Length of given string is: {len(s)}")

Length of given string is: 11

In [ ]:
# 3) Write a code to slice the first 3 characters from the string "Python Programming"
s="Python Programming"
print(f"Sliced part: {s[0:3]}")

Sliced part: Pyt

In [ ]:
# 4) Write a code to convert the string "hello" to uppercase
s="hello"
print(f"Uppercase of the given string is: {s.upper()}")

Uppercase of the given string is: HELLO

In [ ]:
# 5) Write a code to replace the word "apple" with "orange" in the string "I like apple"
s="I like apple"
s1=s.replace("apple","orange")
print(f"New string is: {s1}")

New string is: I like orange

In [ ]:
# 6) Write a code to create a list with numbers 1 to 5 and print it
[i for i in range(1,6)]

[1, 2, 3, 4, 5]

In [ ]:
# 7) Write a code to append the number 10 to the list [1, 2, 3, 4]
l=[1, 2, 3, 4]
l.append(10)
print(f"New list is: {l}")

New list is: [1, 2, 3, 4, 10]

In [ ]:
# 8) Write a code to remove the number 3 from the list [1, 2, 3, 4, 5]
l=[1, 2, 3, 4, 5]
# l.remove(3)
l.pop(2)
print(f"New list: {l}")

New list: [1, 2, 4, 5]

In [ ]:
# 9) Write a code to access the second element in the list ['a', 'b', 'c', 'd']
l=['a', 'b', 'c', 'd']
print(f"Second element is: {l[1]}")

Second element is: b

In [ ]:
# 10) Write a code to reverse the list [10, 20, 30, 40, 50]
l=[10, 20, 30, 40, 50]
# l.reverse()
for i in range(len(l)-1,-1,-1):
  print(l[i],end=' ')

50 40 30 20 10

In [ ]:
# 11) Write a code to create a tuple with the elements 100, 200, 300 and print it
t=(100,200,300)
print(f"Tuple: {t}")

Tuple: (100, 200, 300)

In [ ]:
# 12) Write a code to access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow')
t=('red', 'green', 'blue', 'yellow')
t2=t[1:]
print(f"Second to last element: {t2}")

Second to last element: ('green', 'blue', 'yellow')

In [ ]:
# 13) Write a code to find the minimum number in the tuple (10, 20, 5, 15)
t=(10, 20, 5, 15)
Minimum=min(t)
print(f"Minimum value in tuple is: {Minimum}")

Minimum value in tuple is: 5

In [ ]:
# 14) Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit')
t=('dog', 'cat', 'rabbit')
Index=t.index("cat")
print(f"Index of cat is: {Index}")

Index of cat is: 1

In [ ]:
# 15) Write a code to create a tuple containing three different fruits and check if "kiwi" is in it
# t=("mango","kiwi","papaya")
t=("mango","pineapple","papaya")
if "kiwi" in t:
  print("kiwi is present in the tuple")
else:
  print("Kiwi is not present in tuple")

Kiwi is not present in tuple

In [ ]:
# 16) Write a code to create a set with the elements 'a', 'b', 'c' and print it
s={'a','b','c'}
print(f"This represents a set: {s}")

This represents a set: {'b', 'a', 'c'}

In [ ]:
# 17) Write a code to clear all elements from the set {1, 2, 3, 4, 5}
s={1, 2, 3, 4, 5}
s.clear()
print(f"Empty set: {s}")

Empty set: set()

In [ ]:
# 18) Write a code to remove the element 4 from the set {1, 2, 3, 4}
s={1, 2, 3, 4}
# s.remove(4)
s.discard(4)
print(f"New set is: {s}")

New set is: {1, 2, 3}

In [ ]:
# 19) Write a code to find the union of two sets {1, 2, 3} and {3, 4, 5}
s1={1, 2, 3}
s2={3, 4, 5}
# Union = s1.union(s2)
Union = s1|s2
print(f"Union of both sets: {Union}")

Union of both sets: {1, 2, 3, 4, 5}

In [ ]:
# 20) Write a code to find the intersection of two sets {1, 2, 3} and {2, 3, 4}
s1={1, 2, 3}
s2={2, 3, 4}
Intersection = s1.intersection(s2)
# Intersection  = s1 & s2
print(f"Common elements in both sets is: {Intersection}")

Common elements in both sets is: {2, 3}

In [ ]:
# 21) Write a code to create a dictionary with the keys "name", "age", and "city", and print it
d={}
d["name"] = ''
d["age"] = ''
d["city"] = ''
print(f"Dictionary with keys and null values: {d}")

Dictionary with keys and null values: {'name': '', 'age': '', 'city': ''}

In [ ]:
# 22) Write a code to add a new key-value pair "country": "USA" to the dictionary {'name': 'John', 'age': 25}
d={'name': 'John', 'age': 25}
d["country"]="USA"
print(f"New dictionary is: {d}")

New dictionary is: {'name': 'John', 'age': 25, 'country': 'USA'}

In [ ]:
# 23) Write a code to access the value associated with the key "name" in the dictionary {'name': 'Alice', 'age': 30}
d={'name': 'Alice', 'age': 30}
print(f"The value of the key 'name' is: {d['name']}")

The value of the key 'name' is: Alice

In [ ]:
# 24) Write a code to remove the key "age" from the dictionary {'name': 'Bob', 'age': 22, 'city': 'New York'}
d={'name': 'Bob', 'age': 22, 'city': 'New York'}
del d["age"]
print(f"Dictionary after removing age: {d}")

Dictionary after removing age: {'name': 'Bob', 'city': 'New York'}

In [ ]:
# 25) Write a code to check if the key "city" exists in the dictionary {'name': 'Alice', 'city': 'Paris'}
d={'name': 'Alice', 'city': 'Paris'}
# d={'name': 'Alice', 'xyz': 'Paris'}
if "city" in d:
  print("The key 'city' exists in dictionary")
else:
  print("The key 'city' doesnot exist in dictionary")

The key 'city' exists in dictionary

In [ ]:
# 26) Write a code to create a list, a tuple, and a dictionary, and print them all.
l=[1,3.9,-8,"mango",[1,8],("papaya",)]
t=(100,35.2,-98,"pineapple",[1,8],("watermelon",))
d={"a":1, 2:55.09, 3:"bcd"}
print(f"List: {l}\nTuple: {t}\nDictionary: {d}")

List: [1, 3.9, -8, 'mango', [1, 8], ('papaya',)]
Tuple: (100, 35.2, -98, 'pineapple', [1, 8], ('watermelon',))
Dictionary: {'a': 1, 2: 55.09, 3: 'bcd'}

In [ ]:
# 27) Write a code to create a list of 5 random numbers between 1 and 100, sort it in ascending order, and print the result.(replaced)
import random
result=[random.randint(1,100) for i in range(5)]
print(f"Random numbers generation: {result}")
result.sort()
print(f"Sorted list: {result}")

Random numbers generation: [78, 23, 7, 9, 27]
Sorted list: [7, 9, 23, 27, 78]

In [ ]:
# 28) Write a code to create a list with strings and print the element at the third index
l=["m","s","d","a","o"]
print(f"The element at 3rd index is: {l[3]}")

The element at 3rd index is: a

In [ ]:
# 29) Write a code to combine two dictionaries into one and print the result
d1={1:"a",2:"p"}
d2={"t":"apple","s":"paris",1:"pop"}
# combined_dictionary = {**d1,**d2}
'''
Using union operation
'''
combined_dictionary = d1 | d2
print(f"Combined dictionary is: {combined_dictionary}")

Combined dictionary is: {1: 'pop', 2: 'p', 't': 'apple', 's': 'paris'}

In [ ]:
# 30) Write a code to convert a list of strings into a set
l=["m","s","d","a","o"]
s=set(l)
print(f"Converted list into set: {s}")

Converted list into set: {'m', 'o', 's', 'a', 'd'}

Data Types and Structures Assignment - Theory

In [ ]:
# 1) What are data structures and why are they important?

'''
Data structures: These are the containers where the data can be accessed, manipulated and stored
Examples: List, tuple, sets, dictionary, strings, arrays

Importance: Choosing a correct data structure optimizes/makes the code efficient (improves performance)
efficient in terms of time consumption
we can organize the data logically and is re-usable
optimizes space complexity (hastables, these are created for immutable data structures in the memory and they can be used as keys)

'''

In [ ]:
# 2) Explain the difference between mutable and immutable data types with examples

'''
Mutable: This means the items in the data structure can be modified/changed
Immutable: This means the items in the data structure cannot be modified/changed

Examples:
Lists, sets, dictionaries are mutable
strings and tuples are immutable


l1=[1,2,3]
l1.append(9)
print(l1)  output: adds element 9 at the end of the l1

d={1: 'mango','a':2, 1:1}
del d[1]
print(d)  output: key-values pairs which have key as 1 will be removed, if there are 2 keys, both are removec


t=('a','v')
t[-1] = 2
print(t)  output: TypeError: 'tuple' object does not support item assignment

'''

[1, 2, 3, 9]

In [ ]:
# 3) What are the main differences between lists and tuples in Python

'''
Lists: 1) Lists are mutable, ordered, indexing is possible
       2) Represented as []
       3) We can use append, insert, pop, remove, replace, sort, reverse, delete items of a list
       4) Any data type is acceptable by lists : integer, list, tuple, string, negative number, float, boolean
       5) l = [1,"a",-98,0.76,True,[1,8],(-97,2),{1,4,6}]
       6) Example: List of number of products, they may get added or removed

Tuples: 1) Tuples are immutable, ordered, indexing is possible
        2) Represented as ()
        3) We cannot use append, insert, pop, remove, replace, sort, reverse, delete items of a tuple
        4) Any data type is acceptable by tuple : integer, list, tuple, string, negative number, float, boolean
        5) t = (1,"a",-98,0.76,True,[1,8],(-97,2),{1,4,6})
        6) Example: Employee salary, rent - these are fixed

'''

In [ ]:
# 4) Describe how dictionaries store data

'''
Dictionaries store data in form of key-value pairs
The key is hashed and stored in memory
It accepts only immutable objects ie., keys shuould be immutable
Values can be any data type

dict1 = {"a":98,(1,2):5} - this is valid
dict2 = {"a":98,[1,2]:5} - this is invalid, key is a list which is mutable

This used fo storing structured data eg: JSON format data
Also used to count the occurances ie., maaanggooo, to find

'''

In [ ]:
# 5) Why might you use a set instead of a list in Python

'''
Sets behaviour is to maintain unique elements and accepts only immutable objects as they are hashable
Mathematical operations like intersection, union, difference
Time complexity is less ie., O(1) (x in set)
Lists doe not maintain unique objects and accepts all kind of data types
Time complexity is O(n) n-represents time in seconds or ms

'''

In [ ]:
# 6) What is a string in Python, and how is it different from a list
'''
string: string is a collection of characters/character present in btwn double or single quotes
ex: "a","mango",'This is 6th question','1' - valid

list: a list is a collection of different items of different data types ie., list is collection of heterogenous items
ex: [1,3.5,-8,"a","3",True,[33,89],(3,4,5),{9,8,7},{1: "a","v":9},9+10j]

'''

# Lets check the invalid presentation of a string
s="[1,2,3,4,5]'
print(s)

SyntaxError: unterminated string literal (detected at line 12) (<ipython-input-8-514a7f7c15e5>, line 12)

In [ ]:
# 7) How do tuples ensure data integrity in Python?
'''

As we know that tuples are immutable, they are hashable
ie., the tuples can be used as keys
ex: {(1,2):"numbers"}
also they can be used as constants as their values does not change
ex: pi = 3.14, data base configuration, http status codes, colour codes etc

'''

In [ ]:
# 8) What is a hash table, and how does it relate to dictionaries in Python

'''
Hash table: Hash table contains hashes and values, these hashes are the keys which are converted into hashes using hash function, hash()
and these hashes and values are mapped
python dictinonaries are implemented as hash tables
this has less time complexity: O(1)
ex: {1:2,"a":5,6:"b"}
the immutable objects can be used as keys and they are hashed
immutable objects: tuple, string, int

'''

In [ ]:
# 9) Can lists contain different data types in Python
'''
Yes, lists contain different data types
Lists are the collection of heterogenous items
Any data type is accepted by list
List is mutable and is ordered
Indexing is possible
ex: [1,3.5,-8,"a","3",True,[33,89],(3,4,5),{9,8,7},{1: "a","v":9},9+10j]

'''
l = [1,3.5,-8,"a","3",True,[33,89],(3,4,5),{9,8,7},{1: "a","v":9},9+10j]
print(f"length of list : {len(l)}")
print(f"element at 8th index: {l[8]}")

length of list : 11
element at 8th index: {8, 9, 7}

In [ ]:
# 10) Explain why strings are immutable in Python

'''
 When a string is declared, it is located in the memory in a single block, each character does not have separate blocks like lists (for Lists each and every item has an memory block)
 so, we cant change any character
 if a="mango"
 for this string we have an address location in memory
 if a="i love mangoes"
 as we have same variable, a="mango" location will be cleared and a new address location for the string is created somewhere in the memory
 if a="mango"is being accessed by some other variable, then python will not clear this

'''

In [ ]:
# 11) What advantages do dictionaries offer over lists for certain tasks
'''
time complexity: dict = O(1), list = O(n)
storing data: dict = key-value pairs, list = no mapping (ordered values)
duplicates: dict = no duplicates, list = has duplicates

'''

In [ ]:
# 12) Describe a scenario where using a tuple would be preferable over a list
'''
Tuples are immutable
so they are hashable
they can be used as dictionary keys
as they are not changeable, they ensure data protection ie., when the tuple is called by the caller, he cannot change/alter the data
ensures faster performance

'''

In [ ]:
# 13) How do sets handle duplicate values in Python
'''
Sets use hash tables to maintain unique elements
before adding element, python checks if its hash value is already in the set
if yes, it simply ignores adding the element, it doesnot raise error
s={1,2,3}
the elements in set are keys, not values
'''

In [ ]:
# 14) How does the “in” keyword work differently for lists and dictionaries
'''
Lists contain values
Dictionaries contain key-value pairs

"in" in list checks for if the value is present or not
l=[1,2,3,4,5]
if 3 in l:
  print("value is present in list")

"in" in dictionary checks if the key is present or not
d={"a":1,2:"e"}
if 2 in d:
  print("key is present in dictionary")

'''

In [ ]:
# 15) Can you modify the elements of a tuple? Explain why or why not
'''
whenever a tuple is created, each and every value in the tuple has a address location in the memory
ie., t1=(1,2,3)
t - has address location whose structure remains unchanged, ie., it is locked
it has fixed block of references
1,2,3 have separate locations (each value has different block)

if we want to modify tuple, we can concatenate another tuple

'''
t1=(1,2,3)
t2=(8,10,)
t=t1+t2
print(t)

(1, 2, 3, 8, 10)

In [ ]:
# 16) What is a nested dictionary, and give an example of its use case
'''
Nested Dictionary means having dictionaries as its values
Ued to store hierarchical data

'''
employees = {"Arun":{"age":30, "role": "Developer"},
             "Varun":{"age":20, "role": "Tester"}}
print(employees["Varun"]["role"])

'''
like wise we can go with electronics, address
ie., electronics is the category, mobiles, laptops, monitors,
UPS etc come under sub-category (which is used as inner dictionary)
address - we have area, zipcode, city, state, country as sub-categories

'''

product = {"electronics":{"mobiles":["android","iphone"],
                          "laptops":["macbook"]}
          }

location = {'address':{"area":"kkp",
                       "zipcode":500072,
                       "city":"Hyd",
                       "state":"Telangana",
                       "country":"India"}
           }
'''
These are few examples of nested dictionaries

'''

Tester

In [ ]:
#  17) Describe the time complexity of accessing elements in a dictionary
'''
As the keys are hashable, the time taken is O(1)
in rare cases ie., during hash collisions it takes O(n)

'''

In [ ]:
# 18) In what situations are lists preferred over dictionaries
'''
when duplicates are needed
when index based access is needed
when we need a ordered date ie., logs, time series
memory efficiency for simple and iterable data

'''

In [ ]:
# 19) Why are dictionaries considered unordered, and how does that affect data retrieval
'''
they are ordered by insertion but its strength is fast key based access
impact on data retrival: ordered but not indexed, we cannot access keys by position eg: dict[0]
order preservation doesnot slow down the lookups

'''

In [ ]:
#  20) Explain the difference between a list and a dictionary in terms of data retrieval
'''
Lists: Index based search - O(1)
       sorting algorithms - O(n)
Dictionaries: Key-based access - O(1)

Lists for ordered sequences, dict for fast key-value pairs

'''